.documentlist{
    position: relative;

height: 1024px;
margin: 20px;
background: #F8F8F8;
}
.scontainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }
  .sidenav{
    position: absolute;
    width: 94px;
    height: 1024px;
    left: 0px;
    top: 0px;
    
    background: #333333;
  }
  .vshape{
    
    
  }
  .content{
      margin-left: 50px;
  }
  .rectange11{
    position: absolute;
    width: 346px;
    height: 826px;
    left: 0px;
    top: 73px;
    
    background: #FDFDFD;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  .item{
      margin-top: 80px;
      margin-left: 20px;
      margin-right: 30px;
  }

  .rectange13{
    position: absolute;
    width: 346px;
    height: 826px;
    left: 1194px;
    top: 74px;
    
    background: #FDFDFD;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  .rectange12{
    position: absolute;
    width: 346px;
    height: 310px;
    
    
    
    background: #FDFDFD;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
  }
  .scanid{
      margin-top: 30px;
      margin-bottom: 5px;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 224.7%;
      margin-left: 10px;
  }
  .dataid{
    /* position: absolute;
    width: 158px;
    height: 180px;
    left: 1258px;
    top: 124px; */
    
    
    margin-top: 30px;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 224.7%;
    margin-left: 10px;
    /* or 36px */
    
    
    color: #333333;
  }
  .scanres{
    position: absolute;
    width: 76px;
    height: 216px;
    top: 280px;
    margin-top: 20px;
    margin-left: 10px;
    
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 224.7%;
    /* or 36px */
    
    
    color: #B0B0B0;
  }
  .datares{
    position: absolute;
    width: 74px;
    height: 144px;
    margin-left: 60px;
    
    top: 280px;
    margin-top: 20px;
    
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 224.7%;
    /* or 36px */
    
    
    color: #333333;
  }
  .middle{
    position: absolute;
    

    left: 471px;
    
    width: 650px;


    
  }
  .icard{
    position: absolute;
    width: 878px;
    height: 609px;
   
    top: 100px;
    
    
  }
  .live_photo{
    position: absolute;
   top: 600px;
   margin-left: 100px;
   margin-top: 10px;
  }
  .comment{
    position: absolute;
    width: 626px;
    height: 159px;
    margin-left: -100;
    top: 852px;
    
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
  }